/* =============================================================================
       DARK MODE
   ========================================================================== */

.dark-mode body {
	background: #2a2a2a url('/images/bg-dark.png') fixed;
}

.dark-mode #wrapper.search-results ul li.user,
.dark-mode .cup .boxed,
.dark-mode .community-view,
.dark-mode .hof-entry,
.dark-mode .staff-entry,
.dark-mode #my-server-active,
.dark-mode #my-server,
.dark-mode #mp-overview,
.dark-mode #sponsor-info,
.dark-mode #mission-info,
.dark-mode .pcw-options,
.dark-mode #filter-options,
.dark-mode #scribble-msgs .bg.new,
.dark-mode #scribble-msgs .bg,
.dark-mode #talk .bg.new,
.dark-mode #talk .bg,
.dark-mode .bg {
	background-image: none;
}

/*
 * Main content background
 */
.dark-mode #national-lineup #lineup,
.dark-mode #national-lineup #reserves,
.dark-mode #clan-news,
.dark-mode #cpic img,
.dark-mode #userpic,
.dark-mode #userpic img,
.dark-mode #overview-wrapper div ul.cp-top-info,
.dark-mode #overview-wrapper #team .stats td,
.dark-mode .item,
.dark-mode #main-content,
.dark-mode #main-content nav li.active a,
.dark-mode #main-content nav li.active a:hover,
.dark-mode #sub-nav {
	background-color: #363636;
}

/*
 * Alternate inset background
 */
.dark-mode input,
.dark-mode textarea,
.dark-mode .forum-post-list .forum-post .forum-post-content,
.dark-mode #tour .clans li:nth-child(even),
.dark-mode .table-list li:nth-child(even),
.dark-mode .cl_schedule ul li:nth-child(even),
.dark-mode #community-members li:nth-child(even),
.dark-mode .irc-channel-list li:nth-child(even),
.dark-mode .demo ul li:nth-child(even),
.dark-mode .match li:nth-child(even),
.dark-mode .match-round .match:nth-child(even),
.dark-mode .training #lc .skills-bar li:nth-child(odd),
.dark-mode .training #lc #lc-price li:nth-child(odd),
.dark-mode #transfer-history li:nth-child(odd),
.dark-mode tbody:nth-child(odd) tr:nth-child(even):not(#clanpress),
.dark-mode tbody:nth-child(even) tr:nth-child(odd):not(#clanpress) {
	background-color: #2f2f2f;
}

/*
 * Inset content background
 */
.dark-mode ul.forum-list li.forum,
.dark-mode ul.forum-topic-list li.forum-topic,
.dark-mode .forum-post,
.dark-mode .forum-post .forum-post-user-info,
.dark-mode .forum-post .forum-post-options,
.dark-mode .forum-post.deleted h3,
.dark-mode #wrapper.search-results ul li.user,
.dark-mode .gear #left-nav a.active,
.dark-mode #weapon-main,
.dark-mode #tour .clans li:nth-child(odd),
.dark-mode .cup .boxed,
.dark-mode .table-list li:nth-child(odd),
.dark-mode .cl_schedule ul li:nth-child(odd),
.dark-mode .tour-wrapper,
.dark-mode #community-members li:nth-child(odd),
.dark-mode .community-view,
.dark-mode .hof-entry,
.dark-mode .irc-channel-list li:nth-child(odd),
.dark-mode .demo ul li:nth-child(odd),
.dark-mode .staff-entry,
.dark-mode #my-server,
.dark-mode #mp-overview,
.dark-mode #sponsor-info,
.dark-mode #mission-info,
.dark-mode #filter-options,
.dark-mode .comp_type,
.dark-mode .match:not(.match-round .match):not(.item .match),
.dark-mode .match li:nth-child(odd),
.dark-mode #tour .match-round .match:nth-child(odd),
.dark-mode .match-round .match:nth-child(odd),
.dark-mode .match-round,
.dark-mode .training #lc > ul:first-of-type:not(#lc ul#player_overview),
.dark-mode .training #lc .skills-bar,
.dark-mode .training #lc #lc-price,
.dark-mode .cl-page section:not(#cl-level),
.dark-mode #transfer-history li,
.dark-mode .lineup,
.dark-mode .pcw-options,
.dark-mode #scribble-msgs .bg p,
.dark-mode #scribble-msgs .bg,
.dark-mode #talk .bg .text,
.dark-mode #talk .bg,
.dark-mode .news-wrapper,
.dark-mode tbody:nth-child(odd) tr:nth-child(odd):not(#clanpress),
.dark-mode tbody:nth-child(even) tr:nth-child(even):not(#clanpress),
.dark-mode .player:not(div.player.player-stats),
.dark-mode #main-content nav li#help-button,
.dark-mode #main-content nav li.highlight,
.dark-mode #main-content nav li.vip,
.dark-mode #main-content nav {
	background-color: #2c2c2c;
}

.dark-mode #tour .match-round .head,
.dark-mode .match li:first-child,
.dark-mode .cl-page section:not(#cl-level) p:first-child,
.dark-mode thead tr:not(#clanpress) {
	background-color: #2b2b2b;
}

.dark-mode .tooltip {
	background-color: #1e61a3;
}

.dark-mode ul.forum-category-list h3,
.dark-mode .forum-subforums h3,
.dark-mode .forum-topics h3,
.dark-mode .forum-post h3 {
       background-color: #1e61a3e0;
}

.dark-mode .forum-post table.quote,
.dark-mode #my-server-active,
.dark-mode #scribble-msgs .bg.new,
.dark-mode #talk .bg.new,
.dark-mode .news-wrapper-new,
.dark-mode .lan-camp td,
.dark-mode table#mails tbody .mail.new,
.dark-mode .calendar td.unavailable {
	background-color: #1e61a328;
}

.dark-mode .calendar td.checked {
	background-color: #a3601e28;
}

.dark-mode .forum-post .quote tr:nth-child(odd):not(#clanpress),
.dark-mode .forum-post .quote tr:nth-child(even):not(#clanpress),
.dark-mode .forum-post td.quote,
.dark-mode .matches .match div:first-child,
.dark-mode #scribble-msgs .bg.new p,
.dark-mode #talk .bg.new .text,
.dark-mode .calendar th,
.dark-mode .calendar .time,
.dark-mode table [class$=-head] {
	background-color: initial;
}

.dark-mode table,
.dark-mode .bg {
	background-color: inherit;
}

/*
 * Unfortunately, must be marked '!important' as the light mode has it.
 */
.dark-mode .lan-camp,
.dark-mode #main-content nav#sub-tab-nav {
	background-color: inherit !important;
}

.dark-mode table.list,
.dark-mode #wrapper.search-results ul li.user,
.dark-mode #weapon-main,
.dark-mode .cup .boxed,
.dark-mode .tour-wrapper,
.dark-mode .community-view,
.dark-mode .hof-entry,
.dark-mode .demo ul,
.dark-mode .staff-entry,
.dark-mode #my-server-active,
.dark-mode #my-server,
.dark-mode #mp-overview,
.dark-mode #sponsor-info,
.dark-mode #mission-info,
.dark-mode #filter-options,
.dark-mode .comp_type,
.dark-mode .match,
.dark-mode .match-round,
.dark-mode .cl-page section,
.dark-mode .cl-page section p:first-child,
.dark-mode .lineup,
.dark-mode .pcw-options,
.dark-mode #scribble-msgs .bg p,
.dark-mode #scribble-msgs .bg,
.dark-mode #talk .bg .text,
.dark-mode #talk .bg,
.dark-mode .news-wrapper-new,
.dark-mode .news-wrapper,
.dark-mode table,
.dark-mode .bg,
.dark-mode #main-content nav#sub-tab-nav,
.dark-mode #main-content nav li a,
.dark-mode #main-content nav li.active a,
.dark-mode #main-content nav li.active a:hover {
	box-shadow: none;
}

/*
 * Main content box shadow
 */
.dark-mode ul.forum-list li.forum,
.dark-mode ul.forum-category-list h3,
.dark-mode .forum-subforums h3,
.dark-mode .forum-topics .forum-heading,
.dark-mode ul.forum-topic-list li.forum-topic,
.dark-mode ul.forum-post-list li.forum-post,
.dark-mode .forum-topic-reply .forum-post-options,
.dark-mode #national-lineup #lineup,
.dark-mode #national-lineup #reserves,
.dark-mode #clan-news,
.dark-mode #cpic img,
.dark-mode #userpic,
.dark-mode #userpic img,
.dark-mode #overview-wrapper div ul.cp-top-info,
.dark-mode .item,
.dark-mode #main-content,
.dark-mode #sub-nav {
	box-shadow: 0px 1px 2px #030303;
}

.dark-mode .tooltip {
	box-shadow: 0px 1px 1px #131313;
}

/*
 * Inactive content menu shadow
 */
.dark-mode #main-content nav li#help-button,
.dark-mode #main-content nav li.highlight,
.dark-mode #main-content nav li.vip,
.dark-mode #main-content nav {
	box-shadow: 0 1px #363636 inset, 0 -1px #3e3e3e inset;
}

.dark-mode .tooltip,
.dark-mode .forum-post h3,
.dark-mode .forum-post .forum-post-user-info,
.dark-mode .forum-post .forum-post-content,
.dark-mode .forum-post .forum-post-options,
.dark-mode .cl_schedule,
.dark-mode section#tour,
.dark-mode .tournaments #tour #clan-order,
.dark-mode #tour-rules .tour-wrapper,
.dark-mode .league-page h3,
.dark-mode .training #lc,
.dark-mode .training #lc hr,
.dark-mode .cl-page #cl-level,
.dark-mode #scribble-msgs .bg p,
.dark-mode #talk .bg .text,
.dark-mode .calendar td,
.dark-mode .bg,
.dark-mode #main-content nav li#help-button a,
.dark-mode #main-content nav li.active a,
.dark-mode #main-content nav li.active a:hover {
	border: none;
}

.dark-mode #scribble-msgs .bg p,
.dark-mode #talk .bg .text {
	border-radius: 0;
}

/*
 * Inset content borders
 */
.dark-mode input,
.dark-mode textarea,
.dark-mode #mail-form input,
.dark-mode #mail-form textarea,
.dark-mode .forum-post table.quote,
.dark-mode #wrapper.search-results ul li.user,
.dark-mode .gear #left-nav a.active,
.dark-mode #weapon-main,
.dark-mode #tour .clans:not(#tour span.clans),
.dark-mode .cup .boxed,
.dark-mode .table-list,
.dark-mode .cl_schedule ul,
.dark-mode .tour-wrapper,
.dark-mode #community-members,
.dark-mode .community-view,
.dark-mode .hof-entry,
.dark-mode .irc-channel-list,
.dark-mode .demo ul,
.dark-mode .staff-entry,
.dark-mode #my-server-active,
.dark-mode #my-server,
.dark-mode #mp-overview,
.dark-mode #sponsor-info,
.dark-mode #mission-info,
.dark-mode .pcw-options,
.dark-mode #filter-options,
.dark-mode .comp_type,
.dark-mode .match:not(.match-round .match):not(.item .match),
.dark-mode .match-round,
.dark-mode .training #lc > ul:first-of-type:not(#lc ul#player_overview),
.dark-mode .training #lc .skills-bar,
.dark-mode .training #lc #lc-price,
.dark-mode .cl-page section,
.dark-mode #transfer-history,
.dark-mode .lineup,
.dark-mode #scribble-msgs .bg,
.dark-mode #talk .bg,
.dark-mode .news-wrapper-new,
.dark-mode .news-wrapper,
.dark-mode table:not(.bg.player table):not(.item .stats):not(#other_clan table),
.dark-mode .player:not(div.player.player-stats) {
	border: 1px inset #2a2a2a;
}

.dark-mode #tour-rules,
.dark-mode .training #lc-rules {
	border-left: 1px solid #2a2a2a;
}

.dark-mode ul#cup-info,
.dark-mode #scribble-msgs .bg p:first-of-type,
.dark-mode #talk .bg .text {
	border-top: 1px solid #585e67a0;
}

.dark-mode .cl ul.cl_prizes:not(:last-child),
.dark-mode #filter-options .col:not(:nth-child(4)) {
	border-right: 1px solid #585e67a0;
}

/*
 * Inactive content menu borders
 */
.dark-mode #main-content nav li {
	border-right: 1px solid #202020;
}

.dark-mode #main-content nav li a {
	border-right: 1px solid #363636;
}

.dark-mode .calendar td:not(.calendar td:last-child) {
	border-right: 1px solid #2a2a2a;
}

.dark-mode ul#cup-info,
.dark-mode .cl ul.cl_prizes,
.dark-mode #clan-news .news-entry,
.dark-mode .cl .league-table tr:nth-child(2) td,
.dark-mode .tournaments #league-table.top2 tr:nth-child(3) td,
.dark-mode .tournaments #league-table.top4 tr:nth-child(5) td,
.dark-mode .league-page #league-table tr:nth-child(13) td,
.dark-mode .league-page #league-table.leet tr:nth-child(2) td,
.dark-mode .league-page #league-table:not(.leet) tr:nth-child(3) td {
	border-bottom: 1px solid #585e67a0;
}

.dark-mode .league-page #league-table tr:nth-child(11) td,
.dark-mode .league-page #league-table:not(.leet) tr:nth-child(6) td {
	border-bottom: 1px dashed #585e67e0;
}

.dark-mode .cl-page section p:first-child {
	border-bottom: 1px dotted #585e67;
}

.dark-mode table {
	border-collapse: separate;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode .tooltip,
.dark-mode .forum-post,
.dark-mode .forum-topic-reply .forum-post-options,
.dark-mode #wrapper.search-results ul li.user,
.dark-mode .gear #left-nav a.active,
.dark-mode #tour .clans,
.dark-mode .cup .boxed,
.dark-mode .table-list,
.dark-mode .cl_schedule ul,
.dark-mode #community-members,
.dark-mode .community-view,
.dark-mode #cpic img,
.dark-mode #userpic,
.dark-mode #userpic img,
.dark-mode #overview-wrapper div ul.cp-top-info,
.dark-mode .hof-entry,
.dark-mode .irc-channel-list,
.dark-mode .staff-entry,
.dark-mode #my-server-active,
.dark-mode #my-server,
.dark-mode #mp-overview,
.dark-mode #sponsor-info,
.dark-mode #mission-info,
.dark-mode .pcw-options,
.dark-mode #filter-options,
.dark-mode .match-round,
.dark-mode .training #lc > ul:first-of-type:not(#lc ul#player_overview),
.dark-mode .training #lc .skills-bar,
.dark-mode .training #lc #lc-price,
.dark-mode .cl-page #cl-level img,
.dark-mode #transfer-history,
.dark-mode table,
.dark-mode .player .stats .exp img,
.dark-mode .player .stats .skills-bar img,
.dark-mode .player:not(div.player.player-stats) {
	border-radius: 5px;
}

.dark-mode .player #bids,
.dark-mode .player .stats,
.dark-mode .player .player-header {
	border-color: #585e67;
}

.dark-mode #sub-nav {
	border: 1px solid #2c2c2c;
	border-top: 0;
	background: linear-gradient(#363636, #2c2d2e);
}

.dark-mode .communities table,
.dark-mode .comp_type {
	width: initial;
}

.dark-mode #tour .clans {
	width: 98%;
}

.dark-mode #tour .match-round {
	width: 96%;
}

.dark-mode #bids > ul {
	width: 90%;
}

.dark-mode #bids strong {
	width: 76px;
}

.dark-mode .cl_schedule {
	margin: 0 8px 0 10px;
}

.dark-mode .cl-page #cl-level img {
	margin: 0 22px;
}

.dark-mode #wrapper.search-results ul.communitylist li.user,
.dark-mode #transfer-history {
	margin-top: 10px;
}

.dark-mode .training #lc {
	margin-right: 10px;
}

.dark-mode .match-round {
	margin-bottom: 25px;

}

.dark-mode #wrapper.search-results ul.communitylist li.user,
.dark-mode .player:not(div.player.player-stats) {
	margin-bottom: 10px;
}

.dark-mode li.forum-post {
       margin-bottom: 5px;
}


.dark-mode #tour .clans li .right,
.dark-mode .gear #left-nav,
.dark-mode .gear #left-nav a,
.dark-mode .cl_schedule,
.dark-mode .cl-page #cl-level img,
.dark-mode #transfer-history,
.dark-mode table,
.dark-mode #bids strong,
.dark-mode .player:not(div.player.player-stats) {
	padding: 0;
}

.dark-mode .lineup {
	padding: 5px 4px;
}

.dark-mode #tour .clans li,
.dark-mode .table-list li,
.dark-mode #community-members li {
	padding: 0 5px;
}

.dark-mode div.match-round {
	padding: 2px 5px;
}

.dark-mode .training #lc > ul:first-of-type:not(#lc ul#player_overview) {
	padding-top: 5px;
}

/*
 * Player history and bids alignement
 */
.dark-mode #bids > ul,
.dark-mode .bg:not(article.player div.bg) > ul {
	display: inline-block;
}

.dark-mode .tooltip,
.dark-mode #bids,
.dark-mode .bg:not(article.player div.bg):not(#talk .bg):not(#scribble-msgs .bg) {
	text-align: center;
}

.dark-mode #bids strong,
.dark-mode #bids > ul,
.dark-mode .bg:not(article.player div.bg) > ul {
	text-align: left;
}

/*
 * Content text color
 */
.dark-mode input,
.dark-mode textarea,
.dark-mode ul.forum-category-list h3,
.dark-mode .forum-subforums h3,
.dark-mode .forum-topics h3,
.dark-mode .forum-post h3,
.dark-mode .cl #tour.narrow-aside .league-table tr:nth-child(4),
.dark-mode #league-table.leet tr:nth-child(3),
.dark-mode #league-table tr:nth-child(4),
.dark-mode .player .stats,
.dark-mode #next-match span,
.dark-mode #sub-nav #date #date-time,
.dark-mode body {
	color: #eaeaea;
}

/*
 * Fade out text color
 */
.dark-mode .forum-post .forum-post-user-info .left,
.dark-mode .forum-post.deleted h3,
.dark-mode .forum-post.deleted h3 a,
.dark-mode .forum-post table.quote,
.dark-mode .stroke,
.dark-mode .eliminated,
.dark-mode #tour-rules li,
.dark-mode .tour-wrapper .info,
.dark-mode .demo li:last-child,
.dark-mode #my-server-active #server-specs,
.dark-mode #my-server-active div:nth-child(2),
.dark-mode #my-server #server-specs,
.dark-mode #my-server div:nth-child(2),
.dark-mode .training #lc-rules li,
.dark-mode #shortcuts #set-homepage span,
.dark-mode #shortcuts #add-page span,
.dark-mode #shortcuts,
.dark-mode #shortcuts a,
.dark-mode #next-match,
.dark-mode #breadcrumps,
.dark-mode #sub-nav #date,
.dark-mode #sub-nav ul li a {
	color: #939dad;
}

.dark-mode .forum-post.deleted h3 a:hover,
.dark-mode .player .player-header .tl-link,
.dark-mode #shortcuts a:hover,
.dark-mode #sub-nav ul li a:hover {
	color: #585e67;
}

/*
 * Standard links color
 */
.dark-mode #shortcuts #set-homepage a,
.dark-mode #main-content nav li a,
.dark-mode a {
	color: #2d96ff;
}

.dark-mode #shortcuts #set-homepage a:hover,
.dark-mode #main-content nav li a:hover,
.dark-mode a:hover {
	color: #1e61a3;
}

/*
 * Special links color (e.g. VIP)
 */
.dark-mode #shortcuts #add-page a,
.dark-mode #main-content nav li.vip a {
	color: #ffa22d;
}

.dark-mode #shortcuts #add-page a:hover,
.dark-mode #main-content nav li.vip a:hover {
	color: #a3611e;
}

/*
 * Highlighted links color (e.g. qualification)
 */
.dark-mode #main-content nav li.highlight a {
	color: #24cc81;
}

.dark-mode #main-content nav li.highlight a:hover {
	color: #18824d;
}

/*
 * Content text shadow
 */
.dark-mode ul.forum-category-list h3,
.dark-mode .forum-subforums h3,
.dark-mode .forum-topics .forum-heading,
.dark-mode .forum-post h3,
.dark-mode .forum-post.deleted h3,
.dark-mode .forum-post.deleted h3 a,
.dark-mode .forum-post.deleted h3 a:hover,
.dark-mode .forum-post table.quote,
.dark-mode #breadcrumps a,
.dark-mode body {
	text-shadow: none;
}

/*
 * Stand out text shadow
 */
.dark-mode #shortcuts #add-page a,
.dark-mode #shortcuts #set-homepage a,
.dark-mode #main-content nav li a,
.dark-mode #sub-nav #date,
.dark-mode #sub-nav ul li a {
	text-shadow: 0.5px 0.5px 0px #070707, -0.5px -0.5px 0px #373737;
}

/*
 * Inset text shadow
 */
.dark-mode #shortcuts #add-page a:hover,
.dark-mode #shortcuts #set-homepage a:hover,
.dark-mode #breadcrumps,
.dark-mode #main-content nav li a:hover,
.dark-mode #main-content nav li.vip a:hover,
.dark-mode #sub-nav #date a #date-day:hover,
.dark-mode #sub-nav ul li a:hover {
	text-shadow: -0.2px -0.2px 0px #181818, 0.2px 0.2px 0px #545454;
}

/*
 * Icons filters
 */
.dark-mode #sub-nav #toggleDarkMode svg {
	fill: #939dad;
	filter: drop-shadow(0.5px 0.5px 0px rgb(3, 3, 3, 0.5));
}

.dark-mode #sub-nav #toggleDarkMode:hover svg {
	fill: #585e67;
	filter: drop-shadow(-0.5px -0.5px 0px rgb(3, 3, 3, 0.5));
}

.dark-mode #sub-nav .logout_icon {
	-webkit-filter: invert(42%);
	filter: invert(42%);
}

.dark-mode #sub-nav .logout_icon:hover {
	-webkit-filter: invert(28%);
	filter: invert(28%);
}

.dark-mode #left-side ul li:not(:last-child) a {
	filter: invert(63%) sepia(8%) saturate(515%) hue-rotate(178deg) brightness(86%) contrast(82%);
}

.dark-mode #left-side ul li:not(:last-child) a:hover {
	filter: opacity(35%);
}
