/* =============================================================================
       Original CSS fixes
   ========================================================================== */

#sub-nav #date {
	padding: 3px 0.75em 0 0;
}

#sub-nav #toggleDarkMode svg {
	fill: #000;
	max-height: 15px;
	top: 3px;
	position: relative;
}

#sub-nav #toggleDarkMode:hover svg {
	fill: #5c5c5c;
}

#sub-nav #date img[style].logout_icon {
	max-height: 15px;
	top: 3px !important;
	position: relative;
}

ul.skills-bar li {
	line-height: initial;
}
